* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
header {
  display: flex;
  gap: 3px;
}

.pm {
  height: 150px;
}

.site-title {
  background-color: yellow;
  flex: 1;
}
header > nav {
  flex: 1;
}
header > nav > ul {
  display: flex;
  list-style-type: none;
  gap: 2px;
}

header > nav > ul > li {
  background-color: lightpink;
  flex: 1;
}

main {
  display: flex;
  gap: 3px;
}
section {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 75%;
}
.post-title {
  background-color: grey;
}
.section-post-container {
  display: flex;
  gap: 2px;
  height: 550px;
}

.post-meta {
  background-color: lightgreen;
  width: 25%;
}
.main-content-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 75%;
}

.main-content {
  background-color: bisque;
  flex: 1;
}

.main-content-img {
  background-color: yellow;
  flex: 2;
}

.side-bar {
  background-color: greenyellow;
  flex: 1;
}

.ads {
  background-color: green;
  flex: 1;
}

.other-stuff {
  background-color: violet;
  flex: 1;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 25%;
}
footer {
  background-color: brown;
  width: 100%;
}
